@page
@model IndexModel
@{
    ViewData["Title"] = "Farmers Market Self Checkout";
    Layout = "_KioskLayout";
}

<a href="/Cart" class="idle-screen">
    <div class="idle-logo">
        <div class="idle-logo-text">
            <img src="~/Logo6.svg" alt="Farmers Market" class="idle-logo-image" />
        </div>
    </div>

    <div class="video-container">
        <div class="video-placeholder">
            🌾 Promotional Video 🌾
            <br />
            <small style="font-size: 16px; margin-top: 10px; display: block;">
                (Video player will be displayed here)
            </small>
        </div>
    </div>
</a>