@page
@model IndexModel
@{
    ViewData["Title"] = "Farmers Market Self Checkout";
    Layout = "_KioskLayout";
}

<a href="/Nfc" class="idle-screen" id="idleScreen">
    <!-- Full-screen rolling background graphic -->
    <div class="rolling-background">
        <img src="~/Graphic.svg" alt="" class="rolling-graphic" />
        <img src="~/Graphic.svg" alt="" class="rolling-graphic" />
    </div>
    
    <div class="idle-logo">
        <div class="idle-logo-text">
            <img src="~/Logo6.svg" alt="Farmers Market" class="idle-logo-image" />
        </div>
    </div>

    <div class="video-container">
        <video autoplay loop muted playsinline >
            <source src="~/idle.mp4" type="video/mp4" />
            Your browser does not support the video tag.
        </video>
    </div>
</a>