@page
@model SuccessModel
@{
    ViewData["Title"] = "Payment Success";
    Layout = "_KioskLayout";
}

<div class="success-screen">
    <div class="success-background-graphic">
        <img src="~/Secondary Graphic.svg" alt="" />
    </div>
    <div class="success-content">
        <div class="success-icon">
            <img src="~/check-icon.svg" alt="Success" style="width: 200px; height: 200px;" />
        </div>
        <h1 class="success-title">Payment Successful!</h1>
        <p class="success-message">Thank you for your purchase</p>
        <p class="success-message" style="font-size: 22px; margin-top: 30px;">
            Redirecting to feedback...
        </p>
    </div>
</div>

@section Scripts {
    <script>
        setTimeout(() => {
            window.location.href = '/Feedback';
        }, 3000);
    </script>
}
